@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 heading">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="home">
    <h1>Welcome To Employees Informations Data APP</h1>
    <h4 class="mt-5">It's Basically CRUD Operation App Where user can CREATE ,READ, UPDATE and DELETE the information Indivisually,And save this Information on DATABASE</h4>
    <h5 class="mt-3">This APP is Developed Using DOTNET core MVC and MSSQL DATABASE</h5>
</div>


<style>
    .home {
        text-align: center;
    }
    .heading{
        color: red;
        font-weight:500;

    }
</style>